*  {
  list-style:none
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
    font-family: 'KoHo', sans-serif;
    margin: 0;
  }
  h1, h2 {
    font-family: 'Cormorant', serif;
    font-weight: 400;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  h3 {
    margin: 0;
  }
  a {
    color: #070808e8;
  }
  a:hover {
    text-decoration: none;
  }
  .content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px 50px;
    overflow: hidden;
  }
  .hide {
     display: none;
  }
  .uppercase {
    text-transform: uppercase;
  }
  




  .color2{ 
    color: solid rgb(230, 108, 59);
    list-style-type: none;
    }

  /* Download button */
  .btn {
    text-decoration: none;
    background: #f0f7ef00;
    font-size: 20px;
    color: rgb(255, 255, 255) ;
    padding: 20px;
    display: inline-block;
  }
  
  
  /* Header and Footer
  -------------------------*/
  header, footer {
    background: #a8deec;
    color: #dddddd;
  }
  /* header */
  header {
    padding-top: 50px;
    position: relative;
  }
  header h1, header h2 {
    color: #EDF2F4;
    margin: 0;
  }
  .profile-img {
    border-radius: 50%;
  }
  
  .content-wrap img {
    width: 200px;
    height: 200px;
  }
  
  .download {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  /* footer */
  footer {
    text-align: center;
  }
  .contact-info a {
    padding: 10px;
    display: inline-block;
  }
  
  
  /* Navigation
  -------------------------*/
  nav {
    text-align: center;
    background: rgb(147, 225, 245);
    position: fixed;
    top: 0;
    width: 100%;
    /*z-index: 100;*/
  }
  nav a {
    display: inline-block;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  




  
  /* Media Queries
  -------------------------*/
  @media (min-width: 900px) {
    .col-narrow {
      width: 30%;
      float: left;
    }
    .col-wide {
      width: 70%;
      float: left;
      padding-left: 20px;
    }
  }
  @media (max-width: 899px){
    header {
      text-align: center;
    }
    .profile-img {
      width: 200px;
    }
  }


.flag      {  
size: 30px;
height: 30px;
margin-top :10px;
}


.languages{
  display: flex;
  flex-direction: row;
  text-align: end;
}


a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  
}